@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
@import "react-slideshow-image/dist/styles.css";

@import "./variables";
@import "./global.scss";
@import "./components/navbar.scss";
@import "./components/buttons.scss";
@import "./components/carousel.scss";
