* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

// globals
.link__text__white {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $btn-primary;
    transition: all 0.5s ease-in-out;
  }
}

.search {
  margin-top: -80%;
}
// globs end here

.call-to-action {
  width: 600px;
  margin-left: 7%;
  color: $secondary;
  z-index: 9999;
  margin-top: -40%;

  & h1 {
    font-size: 30px;
    padding: 15px;
    color: $primary;
  }

  & .details {
    line-height: 40px;
    padding: 15px;
    font-size: 25px;

    & p {
      padding-bottom: 8px;
    }
  }

  @media only screen and (max-width: 576px) {
    width: 100%;
    margin: 0 auto;
    padding: 12px;

    margin-top: -105%;
  }
}

// about section starts here
.about-them {
  margin-top: 12%;
  margin: 150px;

  .about-title {
    font-size: 30px;
  }

  & p {
    line-height: 30px;
    margin-top: 25px;
  }

  @media only screen and (max-width: 576px) {
    margin: auto;
    width: 100%;
    padding: 20px;
    margin-top: 18%;

    .about__details {
      p {
        font-size: 19px;
        font-weight: normal;
      }
    }
  }
}

// @keyframes shuffle {
//   0% {
//     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//       url("/src/assets/images/unadey.jpeg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     transition: all 2s;
//     transition-delay: 3s;
//   }
//   15% {
//     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//       url("../images/stopkilling.jpeg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     transition-delay: 5s;
//     transition: all 2s;
//   }
//   30% {
//     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//       url("../images/9ja-wave-endsars-flag.jpeg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     transition-delay: 7s;
//     transition: all 2s;
//   }
//   45% {
//     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//       url("../images/dude-waving-endsars-flag.jpeg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     transition-delay: 9s;
//     transition: all 2s;
//   }
//   60% {
//     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//       url("../images/man-cuffed-lying-on-ground.jpeg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     transition-delay: 11s;
//     transition: all 2s;
//   }
//   75% {
//     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//       url("../images/obafemi-end-sars.jpeg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     transition-delay: 13s;
//     transition: all 2s;
//   }
//   90% {
//     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//       url("../images/police-is-stealing-from-youths.jpeg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     transition-delay: 15s;
//     transition: all 2s;
//   }
//   100% {
//     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//       url("../images/man-lying-on-ground.jpeg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     transition-delay: 17s;
//     transition: all 2s;
//   }
// }
