* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

// globals
.link__text__white {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $btn-primary;
    transition: all 0.5s ease-in-out;
  }
}

.search-box {
  position: absolute;
  width: 100%;
  left: 120px;
  top: 86px;

  @media only screen and (max-width: 576px) {
    top: 88px;
    left: 35px;
  }
}

.flex__mobile {
  display: flex;
  margin: 25px;
}
// globs end here

.call-to-action {
  width: 600px;
  margin-left: 7%;
  color: $secondary;
  z-index: 9999;
  margin-top: -30%;

  & h1 {
    font-size: 30px;
    padding: 15px;
    color: $primary;
  }

  & .details {
    line-height: 40px;
    padding: 15px;
    font-size: 25px;

    & p {
      padding-bottom: 8px;
    }
  }

  @media only screen and (max-width: 576px) {
    width: 100%;
    margin: 0 auto;
    padding: 12px;

    margin-top: -105%;
  }
}

// about section starts here
.about-them {
  padding: 150px;

  & h1 {
    padding-bottom: 4%;
  }

  .about__details {
    & p {
      line-height: 30px;
      font-weight: 300;
      padding-top: 28px;
      text-align: justify;
    }
  }

  @media only screen and (max-width: 576px) {
    width: 100%;
    padding: 15px;

    & p {
      font-size: 20px;
    }
  }
}
// about section ends here

// spport section starts here
.support {
  margin-top: 5%;
  margin: 150px;
  padding-bottom: 25px;

  & .support-type {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    & .support-details {
      width: 750px;

      & p {
        font-weight: 300;
      }
    }

    & Button {
      margin-top: 30px;
      text-align: center;
      width: 180px;
    }
  }

  @media only screen and (max-width: 576px) {
    width: 100%;
    margin: 0 auto;
    margin-top: 30%;
    padding: 28px;

    & p {
      font-weight: 300;
    }

    & .svg {
      height: 68px;
      width: 68px;
    }

    & .support-type {
      & .support-details {
        padding: 11px;
      }
    }
  }
}
// support section ends here
