@import "../variables";

.btn {
  height: 35px;
  width: 150px;
  border: none;
  border-radius: 7px;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background: $btn-primary;
  color: $primary;
  font-size: 18px;
}

.btn-50 {
  width: 50%;
}

.btn-75 {
  width: 75%;
}

.btn-100 {
  width: 100%;
}
