.slide-show {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;

  & img {
    height: 620px;
    object-fit: cover;
  }
}
