header {
    background: $secondary;
    color: $primary;
    display: flex;
    justify-content: space-around;
    
    & h1 {
        padding-top: 12px;
    }

    & nav ul {
        display: flex;
       
        & li {
            list-style-type: none;
            line-height: 36px;
            font-size: 24px;
            margin: 15px;
        }

        & Button {
            margin-top: 18px;
        }
    }
}