.form__control {
  height: 40px;
  width: 1004px;
  background: $primary;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 0.3px;
  padding-left: 27px;
}

.search {
  margin: 150px;
  margin-top: 3%;
}

.fa-search {
  position: absolute;
  top: 120px;
  left: 155px;
  padding-left: 5px;
  opacity: 5;
}

@media only screen and (max-width: 576px) {
  .search__base {
    padding: 28px;
  }

  .search {
    width: 100%;
    margin: 0 auto;
    margin-top: 3%;
  }

  .fa-search {
    color: #000;
    left: 20px;
    top: 115px;
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  // media queries for tablet screens go here
}

